In [12]:
# Inputs
one = 1
two = 2
three = 3
four = 4
can = 'can'
do = 'do'
python = 'python'
more = 'more'

print(f"{one} {two} {three} {four} {can} {do} {python} {more}")

1 2 3 4 can do python more

In [13]:
# Inputs
number1 = 15
number2 = 30

# My Code
result = number1 * number2
print(f"The result is {result}")

The result is 450

In [ ]:
# Inputs
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

# My Code
def first_last(given_list):
    result = False
    if given_list[0] == given_list[len(given_list)-1]:
        result = True
    print(f"Given list: {given_list}")
    print(f"result is {result}")
first_last(numbers_x)
first_last(numbers_y)

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [15]:
numbers_z = [10, 20, 33, 46, 55]

print(f"Given list is {numbers_z}")
print(f"Divisible by 5")
for num in numbers_z:
    if num % 5 == 0:
        print(num)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [ ]:
# Inputs
str_x = "Anjali is good developer. Anjali is a writer"

# My Code
def word_counter(string, target):
    counter = 0
    for letter1 in range(len(string)):
        for letter2 in range(len(string)+1):
            if string[letter1:letter2] == target:
                counter += 1
    print(f"{target} appeared {counter} times")
word_counter(str_x, "Anjali")

Anjali appeared 2 times

In [ ]:
def two_twos(number):
    for x in range(1, number+1):
        to_print = ""
        for y in range(x):
            to_print = to_print + f" {x}"
        print(to_print)
two_twos(5)

 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5

In [18]:
def time_tables(number):
    for x in range(1, number+1):
        to_print = f"{x}  "
        for y in range(2,11):
            to_print = to_print + f"{x*y} "

        print(to_print)
time_tables(10)

1  2 3 4 5 6 7 8 9 10
2  4 6 8 10 12 14 16 18 20
3  6 9 12 15 18 21 24 27 30
4  8 12 16 20 24 28 32 36 40
5  10 15 20 25 30 35 40 45 50
6  12 18 24 30 36 42 48 54 60
7  14 21 28 35 42 49 56 63 70
8  16 24 32 40 48 56 64 72 80
9  18 27 36 45 54 63 72 81 90
10  20 30 40 50 60 70 80 90 100

In [19]:
import numpy as np
# Inputs
Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

Kelvin_Array = np.array(Temp_K)

Celsius_Array = []

for temp in Kelvin_Array:
    Celsius_Array = np.append(Celsius_Array, temp - 273.15)

print(Celsius_Array)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [ ]:
import pandas as pd
students = {
    'Student': ['Tommy', 'Fred', 'Gail', 'Kiel', 'Randy', 'Ariel'],
    'Hair Color': ['Brown', 'Grey', 'Blonde', 'Brown', 'Black', 'Brown'],
    'Eye Color': ['Hazel', 'Green', 'Blue', 'Hazel', 'Hazel', 'Blue'],
    'Weight(kg)': [60, 80, 76, 60, 88, 85]
    }

df = pd.DataFrame(students, index=range(len(students['Student'])))
print(df)

  Student Hair Color Eye Color  Weight(kg)
0   Tommy      Brown     Hazel          60
1    Fred       Grey     Green          80
2    Gail     Blonde      Blue          76
3    Kiel      Brown     Hazel          60
4   Randy      Black     Hazel          88
5   Ariel      Brown      Blue          85

In [21]:
print(df['Hair Color'])

0     Brown
1      Grey
2    Blonde
3     Brown
4     Black
5     Brown
Name: Hair Color, dtype: object

In [22]:
print(df[['Eye Color']])

  Eye Color
0     Hazel
1     Green
2      Blue
3     Hazel
4     Hazel
5      Blue

In [23]:
print(df[['Student', 'Weight(kg)']])

  Student  Weight(kg)
0   Tommy          60
1    Fred          80
2    Gail          76
3    Kiel          60
4   Randy          88
5   Ariel          85

In [24]:
print(df.iloc[:, 1:4])

  Hair Color Eye Color  Weight(kg)
0      Brown     Hazel          60
1       Grey     Green          80
2     Blonde      Blue          76
3      Brown     Hazel          60
4      Black     Hazel          88
5      Brown      Blue          85