# Bicycle Odometer — Cumulative & Daily Miles

## Overview
After riding your bike from New York City to Key West, you kept track of the odometer reading at the end of each day. These readings show the total miles traveled so far on the trip. Using this information, the goal is to organize the data into a clear format, calculate how many miles were ridden each day, and present both the cumulative totals and daily distances in a way that’s easy to read and understand.

## Inputs
- An ordered list/sequence of numeric cumulative odometer readings (one value per day), e.g. `[55, 120, 200, ...]`.  
- *(Optional)* Day labels or a start date to use as the Series index (e.g., `Day 1`, `Day 2` or actual dates).

## Expected outputs
- A **pandas Series** containing the cumulative miles (index = day or date).  
- A **pandas Series or DataFrame** showing the **daily miles** computed as the difference between consecutive cumulative readings (first day's daily miles = first cumulative reading).

### Create Index List
- We're going to use a loop that runs the length of the odometer in order to create a list to serve as an index for our panda series later.

In [ ]:
import pandas as pd

# Simulated Input in list form
odometer = [55, 120, 175, 250, 300]

def create_index(input):
  index = []
  for value in range(len(input)):
    index.append(f"Day {value+1}")
  return index

index = create_index(odometer)
print(index)

['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']

### Create a pandas Series
- Now, we create a pandas Series object in order to store the total odemeter readings, using the recently created index list as the index.

In [9]:
totals = pd.Series(data = odometer, index = index, name = 'Totals')
totals

Day 1     55
Day 2    120
Day 3    175
Day 4    250
Day 5    300
Name: Totals, dtype: int64

### Display the Daily Totals
- We can make use of a pandas built in `diff()` function to calculate daily totals by previous entry from the current one. 

  Ex. Day 2 would subtract 55 from 120.

In [12]:
daily = totals.diff().rename('Daily')
daily

Day 1     NaN
Day 2    65.0
Day 3    55.0
Day 4    75.0
Day 5    50.0
Name: Daily, dtype: float64

### Fix First Daily Value
- Notice how `diff()` returns NaN (not a number) for the first value. This is because there is nothing to subtract from the first value of 55. Luckily, there is an easy way to rectify this. 
- We can use another handy pandas built in function, `fillna()`. This will replace NaN with any value we choose. In this case, we can use `iloc` to grab the first value in the totals pandas Series.

In [11]:
daily = totals.diff().fillna(value=totals.iloc[0]).rename('Daily')
daily

Day 1    55.0
Day 2    65.0
Day 3    55.0
Day 4    75.0
Day 5    50.0
Name: Daily, dtype: float64